.ocultar{
    display: none;  
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #2a333d;
}

.container{
    margin-top:5%;
}

.div-col{
    padding:2%;
    min-height: 10em;
    float: left;
}

.div-row{
    margin-right: 0;
    margin-left:  0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.col-cliente{
    background-color: aliceblue;
    padding-top:1em; 
}

.col-factura{
    background-color: white;
}

.col-acciones{
    padding: 1em;
    background-color: aliceblue; 
}


.col-totales{
    box-sizing: border-box;
    padding: 1.5em;
    background-color: aliceblue; 
    float: right;
}

/* LISTAS */
ul {
    padding-inline-start: 0;
    margin-block-start: 1em;
}

.list-group-item:first-child {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: .25rem;
}

/* TABLAS */
.table {
    width: 100%;
    margin: 0;
    color: #212529;
}

#totalesUS.table{
    background-color: #99c3d4;
    color: white;
}

/* BOTONES */
button {
    margin-right:15px;
}


/* TEXTOS */

h3{
    color:white;
}

h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 1.1em;
}

#totales td {
    text-align: right;
    color: darkblue;
}


#totalesUS td {
    text-align: right;
    color: white;
}

.datos-cliente{
    font-size: 1rem;
    line-height: 0.2rem;
    color: var(--blue);
}